.bluArrow		{margin-top:5px; margin-right:5px;}			

.clrBlu {
background:#345686;
}

.mnuBtn {
position:absolute;
top:67;
cursor:hand;
height:26;
background:#345686;
}

.menuItem {
background:#D6CE49;
cursor:hand;
}

.menuItemText {
font-family: verdana;
font-size: 11px;
font-weight: bold;
color:#335687;
margin-top: 3px;
margin-bottom: 3px;
}

.menuItemText A {
text-decoration:none;
color:#335687;
}

.menuItemText A:hover {
text-decoration:underline;
}

.sitename {
font-family: verdana;
color:#335687;
font-weight: bold;
font-size:20px;
text-decoration: none;
}
.sitename A{
color:#335687;
text-decoration: none;
}

.topnav {
font-family: verdana;
color:#ffffff;
font-weight: bold;
font-size: 11px;
}
.topnav A{
color:#ffffff;
text-decoration: none;
}
.topnav A:hover{
text-decoration: underline;
}
